h1 CSV Data Files
section(class="section section-light")
    div(class="users")
        div(class="card-wrapper") 
            h3 First Name:
            span #{data.first_name}   
            h3 Last Name:
            span #{data.last_name}   
            h3 Gender:
            span #{data.gender}   
            h3 Email:
            span #{data.email}   
            button(class="update" onclick="onDelete()") 
                img(src="public/delete.svg" alt="delete")  

            button(class="update" )
                img(src="public/edit.svg" alt="edit") 



        div(class="card-wrapper")
            h3 First Name:
            span #{data.first_name}   
            h3 Last Name:
            span #{data.last_name}   
            h3 Gender:
            span #{data.gender}
            h3 Email:
            span #{data.email}   
            button(class="update" onclick="onDelete()") 
                img(src="../public/delete.svg" alt="delete")

            button(class="update")
                img(src="public/edit.svg" alt="edit") 
